---
const { data } = Astro.props;
const { title, text, image } = data;
---

<article>
    <div class="wrap-image">
        <img src={image} alt="logo" />
    </div>

    <h2>{title}</h2>
    <p>{text}</p>
</article>

<style>
    article {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .wrap-image {
        width: 60px;
        height: 50px;
        margin-bottom: 1.3rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    p {
        color: var(--text);
    }
</style>
