---
const { text } = Astro.props;
---

<button>{text}</button>

<style>
    button {
        width: max-content;
        border: none;
        padding: 0.7rem 4rem;
        border-radius: 30px;
        font-weight: 700;
        background: linear-gradient(to right bottom, var(--cyan), var(--blue));
        color: white;
        cursor: pointer;
    }
</style>
