---
const { text, id } = Astro.props;
---

<button id={id}>{text}</button>

<style>
    button {
        width: max-content;
        border: none;
        padding: 0.7rem 4rem;
        border-radius: 30px;
        font-weight: 700;
        background: linear-gradient(to right bottom, var(--cyan), var(--blue));
        color: white;
        cursor: pointer;
    }

    button:hover {
        filter: brightness(1.2);
    }
</style>
