---
import Navbar from './Navbar.astro';
import { Image } from 'astro:assets';
import heroImg from '../assets/illustration-intro.png';
import Button from './Button.astro';
---

<header>
    <Navbar />
    <div class="hero-top">
        <div class="container">
            <Image src={heroImg} alt="laptop and people worging" />
            <h1>All your files in one secure location, accessible anywhere.</h1>
        </div>
    </div>
    <div class="hero-bottom">
        <div class="container">
            <p>
                Fylo stores all your most important files in one secure
                location. Access them wherever you need, share and collaborate
                with friends family, and co-workers.
            </p>
            <Button text="Get Started" />
        </div>
    </div>
</header>

<style>
    header {
        background-color: var(--dark-blue);
        color: white;
        text-align: center;
    }

    .hero-top {
        background-image: url('../assets/bg-curvy-mobile.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

    .hero-bottom {
        background-color: var(--dark-blue-main);
    }
    img {
        height: 100%;
        /* margin-bottom: 2rem; */
    }

    h1 {
        font-size: clamp(1.5rem, 3vw, 4rem);
        line-height: 1.3;
        padding-top: 2rem;
    }

    p {
        padding-block: 1.3rem 1.6rem;
        color: var(--text);
    }
</style>
