---
import logo from '../assets/logo.svg';
---

<nav>
    <div class="container flex">
        <a href="/" class="wrap-logo">
            <img src={logo.src} alt="logo" />
        </a>
        <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Sign In</a></li>
        </ul>
    </div>
</nav>

<style>
    nav {
        padding-block: 2rem;
    }

    .wrap-logo {
        width: 80px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    a {
        color: white;
        font-family: var(--ff-2);
    }
</style>
