---
import logo from '../assets/logo.svg';
---

<nav>
    <div class="container flex">
        <a href="/" class="wrap-logo">
            <img src={logo.src} alt="logo" />
        </a>
        <ul>
            <li><a class="nav-item" href="#">Features</a></li>
            <li><a class="nav-item" href="#">Team</a></li>
            <li><a class="nav-item" href="#">Sign In</a></li>
        </ul>
    </div>
</nav>

<style>
    nav {
        padding-block: 2rem;
    }

    .wrap-logo {
        width: 80px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav-item {
        color: var(--text);
        font-family: var(--ff-2);
        position: relative;
    }

    .nav-item::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 1px;
        width: 100%;
        margin-inline: auto;
        background-color: var(--text);
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 200ms ease-in-out;
    }

    .nav-item:hover {
        color: white;
    }

    .nav-item:hover::before {
        transform: scaleX(1);
        background-color: white;
    }
</style>
