---
import { Image } from 'astro:assets';
import logo from '../../assets/logo.svg';
import Address from './Address.astro';
import ListItems from './ListItems.astro';
import SocialIcons from './SocialIcons.astro';
import GetReadyCard from './GetReadyCard.astro';
---

<footer>
    <div class="container">
        <GetReadyCard />
        <Image src={logo} alt="logo" />
        <div class="grid">
            <Address />
            <ListItems />
            <SocialIcons />
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--dark-blue-footer);
        padding-block: 10rem 5rem;
        color: var(--text);
    }
    .grid {
        padding-inline: 1rem;
    }

    @media (min-width: 800px) {
        .grid {
            margin-top: 3rem;
            display: flex;

            align-items: start;
            justify-content: space-between;
        }
    }
</style>
