---
import { getCollection } from 'astro:content';
import CardTestimonial from './CardTestimonial.astro';
const allTestimonial = await getCollection('testimonial');
---

<div class="grid-auto">
    {
        allTestimonial.map((testimonial) => (
            <CardTestimonial data={testimonial.data} />
        ))
    }
</div>

<style>
    .grid-auto {
        gap: 2rem;
        margin-top: 10rem;
    }
</style>
